
.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #0f9b1b;
    border: 1px solid #555;
}

.Menu li {
    float: left;
    width: 20%;
}

.Menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4%;
    text-decoration: none;
}

.Menu li a:hover:not(.active) {
    background-color: #0faf00;
}

.active {
    background-color: #ff7f00;
}