#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 0%;
    height: 10%;
    background-color: #af0b00;
}
#message{
    background-color: white;
    position: relative;
    left: 12.5%;
    top:  15%;
    text-align: center;
    width: 75%;
    height: 75%;
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-shadow: 10px 10px 5px #888888;

}